.gridRoot {
    display: flex;
    flexWrap: wrap;
    justifyContent: space-around;
    marginTop: -21.5%;
    marginLeft: 3%
}

.gridList {
    width: 300px;
    height: 400px;
    overflowY: auto;
}

.gridTitle {
}

.main {
    border: 1px solid black;
}

.clickedOnMarker {
    transform: scale(1.05);
}

.closingButton {
    position: relative;
    marginTop: -250px;
    marginLeft: 247px;
    zIndex: 100,
}
